body {
    width: 100%;
    color: #555;
    /*#2b3e50*/
    overflow-x: hidden;
    background-color: white;
    font-weight: 300;
    font-family: "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.breadcrumb {
    background-color: white;
    margin-bottom: 0;
}

a, .btn {
    outline: none !important;
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes swingInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
}

@-moz-keyframes swingInX {
    0% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
}

@-o-keyframes swingInX {
    0% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
}

@keyframes swingInX {
    0% {
        transform: perspective(400px) rotateX(-90deg)
    }
    100% {
        transform: perspective(400px) rotateX(0deg)
    }
}

.animated.swingInX {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ie-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: swingInX;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: swingInX;
    -o-backface-visibility: visible !important;
    -o-animation-name: swingInX;
    backface-visibility: visible !important;
    animation-name: swingInX
}

@-webkit-keyframes swingOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
}

@-moz-keyframes swingOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
}

@-o-keyframes swingOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
    100% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
}

@keyframes swingOutX {
    0% {
        transform: perspective(400px) rotateX(0deg)
    }
    100% {
        transform: perspective(400px) rotateX(-90deg)
    }
}

.animated.swingOutX {
    -webkit-transform-origin: top;
    -webkit-animation-name: swingOutX;
    -webkit-backface-visibility: visible !important;
    -moz-animation-name: swingOutX;
    -moz-backface-visibility: visible !important;
    -o-animation-name: swingOutX;
    -o-backface-visibility: visible !important;
    animation-name: swingOutX;
    backface-visibility: visible !important
}

.navbar-loveu {
    padding: 1% !important;
    background-color: #48CFAD;
    z-index: 1000;
    margin-bottom: 0;
}

.nav-img {
    display: inline;
    max-width: 130px;
}

.nav-a {
    font-size: 18px;
    color: white !important;
    margin: 5px 10px 5px 10px;
}

.nav-divider {
    margin-right: 50px;
}

.alert {
    border-radius: 0;
    padding: 5px;
}

.btn-click {
    color: #fff !important;
    background-color: #48CFAD;
}

.nopadding {
    padding: 0;
}

.margin-10px {
    margin: 10px;
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1000px) {
    .supper {
        font-size: 4em;
    }

    .display {
        width: 70%;
        margin: 0 auto;
    }

    .text {
        font-size: 1.5em;
    }

    .text-big {
        font-size: 2.5em;
    }

    .margin {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 650px) {
    .supper {
        word-break: break-all;
        font-size: 4em;
    }

    .img-display {
        width: 80%;
        margin: 0 auto;
    }

    .text {
        font-size: 1em;
    }

    .text-big {
        font-size: 1.5em;
    }

    .img {
        width: 150px;
    }

}

@media (max-width: 350px) {
    .supper {
        word-break: break-all;
        font-size: 2em;
    }

    .img-display {
        width: 100%;
        margin: 0 auto;
    }

    .text {
        font-size: 1em;
    }

    .text-big {
        font-size: 1em;
    }

    .img {
        width: 50px;
    }
}

.banner {
    color: #555;
    font-weight: 300;
}

.words {
    margin-top: 50px;
    line-height: 50px;
}

.avator {
    width: 60px;
}

.margin-10px {
    margin: 10px;
}

.func {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.func img {
    width: 50px;
}

.container1 {
    overflow: hidden;
    max-width: 350px;
    margin: 0 auto;
    height: auto;
    padding: 30px 20px 30px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    background: #fcfcfc;
}

li {
    list-style: none;
}

.load {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: #ffffff url("../images/loading.gif") no-repeat center center;
    z-index: 1000;
}

.load p {
    position: absolute;
    text-align: center;
    top: 47%;
    left: 55%;
}

.load-body {
    overflow: hidden !important;
}

.item {
    margin-bottom: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.person {
    height: 100%;
    padding: 15px;
}

.information {
    text-indent: 2ch;
    padding: 15px;
}



img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden
}

img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
}
.profile{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}
.profile .title{
    background-color: #48CFAD;
    color: white;
    text-align: center;
    font-size: 1.5em;
    box-shadow: -1px  -1px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
}
.profile .body{
    padding: 10px;
}
.profile img:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.inline{
    display: inline;
}
