<div class="display">
    <div ng-repeat="item in list">
        <div class="col-lg-12 col-xs-12 item">
            <div class="col-lg-3 col-xs-4">
                <img class="avator img-circle" ng-src="{{ item.UserPhoto }}" alt="avator">
                <p ng-bind="item.NickName"></p>
                <p>Lv.5 超能力者</p>
            </div>
            <div class="col-lg-9 col-xs-8">
                <div class="col-lg-8">
                    <p ng-bind="item.PaiTitle"></p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <p ng-bind="item.DownTime"></p>
                </div>
                <div class="col-lg-12">
                    <p  ng-bind="item.PaiInformation"></p>
                </div>
            </div>
        </div>
    </div>
</div>