<div class="display">
    <ol class="breadcrumb text-left">
        你的位置:&nbsp;&nbsp;&nbsp;
        <li><a href="#">首页</a></li>
        <li class="active">拍卖</li>
    </ol>
    <div ng-repeat="item in list">
        <div class="col-lg-12 col-xs-12 item">
            <div class="col-lg-2 col-xs-3 text-center person" onclick="alert('qq')">
                <img class="avatar img-circle" ng-src="{{ item.UserPhoto }}" alt="avator">
                <p ng-bind="item.NickName"></p>
                <p class="small">Lv.5 超能力者</p>
            </div>
            <div class="col-lg-10 col-xs-9 information" onclick="alert('qqqqq')">
                <div class="col-lg-7 text-left">
                    <p ng-bind="item.PaiTitle"></p>
                </div>
                <div class="col-lg-5 col-sm-12 text-right">
                    <p ng-bind="item.DownTime"></p>
                </div>
                <div class="col-lg-12">
                    <p ng-bind="item.PaiInformation"></p>
                </div>
            </div>
        </div>
    </div>
</div>