<div>
    <br>
    <div class="col-lg-12">
        <img class="img-responsive display" style="margin-top: -10px;" src="images/bg0.jpg" alt="LoveU">
    </div>
    <div class="display">
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="tofood()">
                <img  src="images/food.png" alt="food">
                约饭
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="torun()">
                <img class="bottom-left" src="images/run.png" alt="run">
                跑步
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="topai()">
                <img src="images/pai.png" alt="sell">
                拍卖
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="tosend()">
                <img src="images/send.png" alt="send">
                赠送
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="tohelp()">
                <img src="images/help.png" alt="help">
                互助
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="func"ng-click="tojwxt()">
                <img src="images/jwxt.png" alt="jwxt">
                教务系统
            </div>
        </div>
    </div>

</div>