<div class="display">
    <ol class="breadcrumb text-left">
        你的位置:&nbsp;&nbsp;&nbsp;
        <li><a href="#">首页</a></li>
        <li class="active">{{ data.NickName }}的个人中心</li>
    </ol>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
            <p class="title">基础信息</p>
            <div class="body">
                <img class="img-circle center-block" src="{{ data.UserPhoto }}" alt="我的头像">
                <fieldset>
                    <p class="inline">昵称：</p><input class="form-control" type="text" ng-model="data.NickNameCopy" placeholder="请输入昵称">
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
sd
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
sd
        </div>
    </div>
</div>