<div class="display">
    <ol class="breadcrumb text-left">
        你的位置:&nbsp;&nbsp;&nbsp;
        <li><a href="#">首页</a></li>
        <li class="active">{{ data.NickName }}的个人中心</li>
    </ol>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
            <p class="title">基础信息</p>
            <div class="body">
                头像：<img class="avatar img-circle center-block" ng-hide="msg.ifavatar" ng-src="{{ data.UserPhoto }}"
                        alt="我的头像"
                        ng-click="ChangeAvatar()">
                <div ng-show="msg.ifavatar">
                    <img class="avatar img-circle center-block"
                         ng-src="{{ myCroppedImage }}" ng-show="msg.croped" ng-click="file()"/>
                    <button class="btn btn-click col-lg-12 col-xs-12" type="button" ng-click="file()"
                            ng-hide="msg.croped">
                        点击选择一张图片
                    </button>
                    <input class="hide" type="file" id="fileInput"/>
                    <div class="cropArea" ng-show="msg.croped">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div class="col-lg-5">
                        <button class="btn btn-click col-xs-12" ng-click="upload()" ng-show="msg.croped"
                                style="margin-bottom: 10px;">上传头像
                        </button>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <button class="btn btn-click col-xs-12" ng-click="file()" ng-show="msg.croped"
                                style="margin-bottom: 10px;">换一张图片
                        </button>
                    </div>
                </div>
                <form ng-submit="update()">
                    <fieldset>
                        <div>
                            <p>昵称：</p>
                            <input class="form-control" type="text" ng-model="data.NickNameCopy" placeholder="请输入昵称">
                        </div>
                        <div>
                            <p>性别：</p>
                            <div class="text-center">
                                <input type="radio" ng-model="data.UserSex" value="1"> ♂
                                <input type="radio" ng-model="data.UserSex" value="2"> ♀
                                <input type="radio" ng-model="data.UserSex" value="0"> Hide
                            </div>
                        </div>
                        <div>
                            <p class="inline">手机号码：</p>
                            <p class="text-center" ng-bind="data.UserPhone"></p>
                        </div>
                        <br>
                        <button class="btn btn-click col-lg-12 col-xs-12" type="submit">提交更改 <p class="small"
                                                                                                ng-show="msg.croped">
                            注：现在提交将不会保存头像更改</p></button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
            <p class="title">教务系统信息</p>
            <div class="body" ng-show="data.isjwxt">
                真实姓名：<p class="text-center " ng-bind="data.TrueName"></p>
                专业：<p class="text-center" ng-bind="data.UserMajor"></p>
                年级：<p class="text-center" ng-bind="data.UserGrade+'级'"></p>
            </div>
            <div class="body" ng-show="!data.isjwxt">
                <div class="alert alert-info">
                    <p class="text-center" style="padding: 4px;" ng-bind="msg.jwxt"></p>
                </div>
                <form ng-submit="jwxt()">
                    <fieldset>
                        学号：<input class="form-control" type="text" ng-model="form.Jwxt" placeholder="10位IMU学号">
                        密码：<input class="form-control" type="text" ng-model="form.Pass" placeholder="教务系统独立密码">
                        <br>
                        <button class="btn btn-info col-lg-12" type="submit">验证</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="profile">
            <p class="title">钱包信息</p>
            <br>
            <div class="col-xs-12">
                <div class="alert alert-warning" ng-show="msg.ifpay">
                    <p class="text-center" style="padding: 4px;" ng-bind="msg.pay"></p>
                </div>
            </div>
            <div class="body" ng-show="data.ispay">
                钱包余额：<p class="text-center" ng-bind="data.money+'点'"></p>
                <form ng-submit="charge()">
                    <fieldset>
                        充值点数：<input class="form-control" type="text" ng-model="form.Money">
                        <br>
                        <button class="btn btn-click col-xs-12" type="submit">充值</button>
                    </fieldset>
                </form>
            </div>
            <div class="body" ng-show="!data.ispay">
                <form>
                    <fieldset>
                        验证码：
                        <div class="">
                            <div class="col-lg-8 nopadding">
                                <input class="form-control" type="text" ng-model="form.Vcode" placeholder="手机验证码">
                            </div>
                            <div class="col-lg-4 nopadding">
                                <button class="btn btn-info col-lg-12" ng-click="GetVcode()">获取验证码</button>
                            </div>
                        </div>
                        钱包密码：<input class="form-control" type="text" ng-model="form.PayPass" placeholder="独立钱包密码">
                        <br>
                        <button class="btn btn-info col-lg-12 col-xs-12" ng-click="SetPass()">设置密码</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>