<div id="wrapper">
    <ul class="test">
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
        <li>test4</li>
        <li>test5</li>
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
        <li>test4</li>
        <li>test5</li>
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
        <li>test4</li>
        <li>test5</li>
    </ul>
</div>
<script>
    var myscroll = new IScroll('#wrapper', {
        mouseWheel: true,
        scrollbars: true
    });
</script>