<div class="col-lg-12">
    <div id="wrapper">
        <div id="scroller">
            <p>Pretty row 1</p>
            <p>Pretty row 2</p>
            <p>Pretty row 3</p>
            <p>Pretty row 4</p>
            <p>Pretty row 5</p>
            <p>Pretty row 6</p>
            <p>Pretty row 7</p>
            <p>Pretty row 8</p>
            <p>Pretty row 9</p>
            <p>Pretty row 10</p>
            <p>Pretty row 11</p>
            <p>Pretty row 12</p>
            <p>Pretty row 13</p>
            <p>Pretty row 14</p>
            <p>Pretty row 15</p>
            <p>Pretty row 16</p>
            <p>Pretty row 17</p>
            <p>Pretty row 18</p>
            <p>Pretty row 19</p>
            <p>Pretty row 20</p>
            <p>Pretty row 21</p>
            <p>Pretty row 22</p>
            <p>Pretty row 23</p>
            <p>Pretty row 24</p>
            <p>Pretty row 25</p>
            <p>Pretty row 26</p>
            <p>Pretty row 27</p>
            <p>Pretty row 28</p>
            <p>Pretty row 29</p>
            <p>Pretty row 30</p>
            <p>Pretty row 31</p>
            <p>Pretty row 32</p>
            <p>Pretty row 33</p>
            <p>Pretty row 34</p>
            <p>Pretty row 35</p>
            <p>Pretty row 36</p>
            <p>Pretty row 37</p>
            <p>Pretty row 38</p>
            <p>Pretty row 39</p>
            <p>Pretty row 40</p>
            <p>Pretty row 41</p>
            <p>Pretty row 42</p>
            <p>Pretty row 43</p>
            <p>Pretty row 44</p>
            <p>Pretty row 45</p>
            <p>Pretty row 46</p>
            <p>Pretty row 47</p>
            <p>Pretty row 48</p>
            <p>Pretty row 49</p>
            <p>Pretty row 50</p>
        </div>
    </div>
</div>
