<div >
    <h1 class="text-big text-center banner">
        <span class="glyphicon glyphicon-grain" style="color:#48CFAD"></span>
        一个帐户，畅享 LoveU 所有服务！
        <span class="glyphicon glyphicon-grain" style="color: #48CFAD"></span>
    </h1>
    <p class="text text-center hidden-xs banner">
        使用 LoveU 账号登录
    </p>
    <div class="container1 text-center">
        <img class="img img-circle" src="../images/defualt-a.png" alt="avatar">
        <div class="alert alert-warning margin-10px col-xs-12" ng-show="msg.ifshow">
            <p class="text-center" ng-bind="msg.text"></p>
        </div>
        <form class="" ng-submit="login()">
            <fieldset>
                <input class="form-control margin-10px" type="text" placeholder="手机号" ng-model="user.name">
                <input class="form-control margin-10px" type="password" placeholder="密码" ng-model="user.pass">
                <button type="submit" class="btn btn-click margin-10px col-lg-12 col-xs-12">登录</button>
            </fieldset>
        </form>
        <div class="col-lg-12">
            <a class="col-lg-6 text-left" href="#/regist">新用户注册</a>
            <a class="col-lg-6 text-right" href="#/regist">忘记密码？</a>
        </div>
    </div>
</div>